#first-page {
  page: firstPage;
}
@page firstPage {
  @bottom-center {
    content: " ";
  }
}
@page {
  size: A4;
  margin: 20mm;
  @bottom-center {
    content: counter(page);
  }
}
.page-break {
  break-before: always;
}
h1 {
  background-color: ghostwhite;
}
h1,
h2,
h3 {
  text-align: center;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
li {
  margin: 0.5em;
}
body ol > li {
  margin-bottom: 3em;
}

.checkmark {
  background-color: rgb(255, 255, 150);
}
